# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Understand the importance of data science.
- List popular programming languages used in data science.
- Explore various data visualization techniques.
- Learn about data manipulation libraries.
- Discuss best practices in data analysis.

Some of the popular languages that Data Scientists use are:
    
    1. R
    2. Python
    3. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1. tensorflow
    2. Plotly
    3. Panda

| Country Name | 
| -------------| 
| JupyterLab |
| Rstudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
 # This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Christos Fakontis